* {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav {
  justify-content: center;
  display: flex;
  gap: 15px;
  padding-top: 20px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}